@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   color: white;
   background: rgb(10, 232, 127);
   background: radial-gradient(
      circle,
      rgba(10, 232, 127, 1) 0%,
      rgba(24, 28, 108, 1) 100%
   );
}
